extends layout

extends layout

block content
  h1= title
  h2 Auto Snap 

  nav
    a(href='/') Home |
    a(href='/services') Services |
    a(href='/booking') Booking |
    a(href='mailto:contact@automob.co.in') contact@automob.co.in |
    span ☎ 999 999 9999

  hr

  h3 About Us
  img(src='/images/mechanic.jpg', alt='Car Repair Service', width='500')

  p.quote “One stop solution to get your car repaired and serviced”.

  p At AutoMob-Mechanic, we aim to make the car repair and service experience straightforward by providing services for repairing, servicing and maintaining - lending our expertise in all forms. You can tell us the service and book an appointment with us on your convenient date. Then, our representative will take care of everything on their own.

  button(onclick="window.location.href='/services'") Explore More

  hr
  footer
    p Copyright © 2020 AutoMob-Mechanic. All Rights Reserved.

